@page
@model Apple_Store.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
   .container{
       margin-right:100px;
       margin-left:100px;
   }


</style>

<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].ModelNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

